@model SS12CarWashing.Models.Sale

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-6">
        @foreach(var item in ViewBag.ItemTypes)
        {
            <a onclick=GetItemByTypeId("@item.ItemTypeId"); class="btn btn-primary">@item.ItemTypeName</a>
        }
    </div>
    <div class="col-3">
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>   
    </div>
    <div class="col-3">
         <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
         </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-6">
        <div id="ItemList"></div>
    </div>
    <div class="col-6">
        <table class="table table-bordered" id='t1'>
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-9"></div>
    <div class="col-3">
         <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" readonly value="0" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" value="0"/>
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrandTotal" class="control-label"></label>
                <input asp-for="GrandTotal" class="form-control" readonly value="0" />
                <span asp-validation-for="GrandTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="save" value="Create" class="btn btn-primary" />
            </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function(){
            $("#save").click(function(){
               var saleDetails =[];
               var i=0;
               $("#t1 > tbody > tr").each(function(){
                   var Id=document.getElementsByName("ItemId[]")[i].value;
                   var price = $(this).closest("tr").find("td:eq(1)").text();
                   var qty = $(this).closest("tr").find("td:eq(2)").text();
                   var amount = $(this).closest("tr").find("td:eq(3)").text();
                   saleDetails.push({ItemId:Id,Price:price,Qty:qty,Amount:amount});
                   i++;
               });
               var sale={
                   "CustomerId":$("#CustomerId").val(),
                   "IssueDate":$("#IssueDate").val(),
                   "Total":$("#Total").val(),
                   "Discount":$("#Discount").val(),
                   "GrandTotal":$("#GrandTotal").val(),
                   "SaleDetails":saleDetails
               };
               console.log(sale);
               $.ajax({
                   method:"POST",
                   data:sale,
                   dataType:"json",
                   success:function(response){
                       window.location.href="/Sales/Print/?Id="+ response;
                   },error:function(error){
                       console.log(error);
                   }
               });
            });
            $("#Discount").blur(function(){
                    CalcTotal();
            });
            $("#t1").on("click",".remove",function(){
                 var qty = $(this).closest("tr").find("td:eq(2)").text();
                if(Number(qty) <= 1){
                    //Remove row
                        var tr = $(this).closest("tr").remove();
                }else{
                    //Reduce Qty
                    var price = $(this).closest("tr").find("td:eq(1)").text();
                    $(this).closest("tr").find("td:eq(2)").text(Number(qty) - 1);
                    $(this).closest("tr").find("td:eq(3)").text((Number(qty) - 1) * Number(price));
                }  
                CalcTotal();
            });
        });
        function GetItemByTypeId(id){
             $("#ItemList").empty();
            $.ajax({
                method:"GET",
                url:"/Sales/GetItemByType/?Id="+ id,
                contentType:"application/json",
                success:function(data){
                    $.each(data,function(i,v){
                        var items="<div onClick=AddCart('"+ v.itemName +"',"+ v.price +",'"+ v.itemId +"');><h4>"+ v.itemName;
                        items += "</h4>";
                        items += "<img class='saleItem' src='/Uploads/"+ v.image +"'/>";
                        items += " Price: "+ v.price;
                        items += "</div>";
                        $("#ItemList").append(items);
                    });
                },error:function(error){
                    console.log(error);
                }
            });
        }
        function AddCart(name,price,id){
            var b=false;
            $("#t1 > tbody > tr").each(function(){
                var itemName = $(this).closest("tr").find("td:eq(0)").text();
                if(itemName === name){
                    b=true;
                    var qty = $(this).closest("tr").find("td:eq(2)").text();
                    var price = $(this).closest("tr").find("td:eq(1)").text();
                    $(this).closest("tr").find("td:eq(2)").text(Number(qty) + 1);
                    $(this).closest("tr").find("td:eq(3)").text((Number(qty) + 1) * Number(price));
                    CalcTotal();
                }
            });
            if(b==false){
                var row ="<tr><td><input hidden name='ItemId[]' value='"+ id +"'/>"+ name;
                row += "</td><td>"+ price;
                row += "</td><td>1</td>";
                row += "<td>"+ price;
                row += "</td><td><button class='btn btn-warning remove'>-</button></td></tr>";
                $("#t1").append(row);
                CalcTotal();
            }
           return;
        }
        function CalcTotal(){
            var total =0;
            var discount=0;
            var grandTotal=0;
            $("#t1 > tbody > tr").each(function(){
               var amount =  $(this).closest("tr").find("td:eq(3)").text();
               total += Number(amount);
            });
            $("#Total").val(total);
            discount = total * Number($("#Discount").val()) / 100;
            $("#GrandTotal").val(total - discount);
        }
    </script>
}
